
body {
    background: #F2F2F4;
}

.card-img-left {
    margin: auto;
    padding: 5px;
}

.card-img-left img {
    padding: 5px;
}

.social-icon.xs {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
}

.card {
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.portfolio-card .card-body {
    height: 325px;
}

.portfolio-card .avatar {
    width: 120px;
    padding: 15px;
    overflow: hidden;
    margin-top: -120px;
    border-radius: 50%;
    background: #e1e1e1;
    border: 5px solid #fff;
}

.portfolio-card .avatar img {
    width: 100%;
}

.img-skills {
    width: 55px !important;
    height: 55px !important;
    margin-bottom: 10px;
    filter: invert(40%) sepia(10%) saturate(500%) hue-rotate(175deg);
}

@media (min-width: 320px) and (max-width: 767px) {
    section.resume-section {
        padding-top: 2rem;
    }
}
